arrow
emoji-country-flag
demoji
Pillow
telethon
requests
aiocron
beautifulsoup4
pandas_ods_reader
tcp-latency
gTTS
emoji-country-flag
demoji
apscheduler==3.10.4
sqlalchemy
arrow
pathvalidate
redis
netifaces

